<div class="container header__container">
    <div class="top-bar">
        <a href="./">
            <img src="./assets/img/logo.png" alt="" class="logo top-bar__logo" />
        </a>
        <nav id="navbar" class="navbar hide">
            <button class="navbar__close-btn d-md-none js-toggle" toggle-target="#navbar">
                <img
                    src="./assets/icons/go-back-arrow.svg"
                    alt="image alt"
                    class="icon go-back-arrow"
                />
            </button>
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="./" class="navbar__link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#service" class="navbar__link">Products</a>
                </li>
                <li class="navbar__item">
                    <a href="#feature" class="navbar__link">Guidelines</a>
                </li>
                <li class="navbar__item">
                    <a href="#testimonial" class="navbar__link">Review</a>
                </li>
            </ul>
        </nav>
        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>
        <div class="top-bar__act">
            <a href="" class="btn btn--small btn--signin">Sign in</a>
            <button class="top-bar__more d-md-none js-toggle" toggle-target="#navbar">
                <img
                    src="./assets/icons/more.svg"
                    alt=""
                    class="icon top-bar__more-icon js-toggle"
                    toggle-target="#navbar"
                />
            </button>
        </div>
    </div>
</div>
