<div class="container header__container">
    <div class="header__top d-md-none">
        <div class="mobile__top">
            <p class="mobile__time">9:41</p>
            <div class="mobile__status">
                <img src="./assets/icons/cellular.svg" alt="" />
                <img src="./assets/icons/wifi.svg" alt="" />
                <img src="./assets/icons/capacity.svg" alt="" />
            </div>
        </div>
        <div class="mobile-toolbar">
            <img src="./assets/icons/toobar-text.svg" alt="" class="mobile-toolbar__text" />
            <div class="mobile-toolbar__center">
                <img src="./assets/icons/lock.svg" alt="" />
                <img class="logo mobile-toolbar__logo" src="./assets/img/logo.png" alt="" />
            </div>
            <img src="./assets/icons/reload.svg" alt="" />
        </div>
    </div>

    <div class="top-bar">
        <img src="./assets/img/logo.png" alt="" class="logo top-bar__logo" />
        <nav id="navbar" class="navbar hide">
            <button class="navbar__close-btn d-md-none js-toggle" toggle-target="#navbar">
                <img src="./assets/icons/arrow-left.svg" alt="image alt" class="icon" />
            </button>
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Products</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Guidelines</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Review</a>
                </li>
            </ul>
        </nav>
        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>
        <div class="top-bar__act">
            <a href="" class="btn btn--small btn--signin">Sign in</a>
            <button class="top-bar__more d-md-none js-toggle" toggle-target="#navbar">
                <img
                    src="./assets/icons/more.svg"
                    alt=""
                    class="icon top-bar__more-icon js-toggle"
                    toggle-target="#navbar"
                />
            </button>
        </div>
    </div>
</div>
