@use "../abstracts";

.testimonial {
    margin-top: 80px;

    @include abstracts.screen(lg) {
        margin-top: 140px;
    }

    &__container {
        @include abstracts.screen(xxl) {
            margin-top: 22px;
            min-width: 1249px;
        }
    }

    &__title {
        color: #fff;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.33;
        text-align: center;

        &--highlight {
            color: #f8d100;
        }
    }

    &__controls {
        margin-top: 12px;
        margin-right: 23px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        @include abstracts.screen(lg) {
            margin-top: 0;
        }
    }

    &__control {
        padding: 10px;
        scale: 2;
        cursor: pointer;

        @include abstracts.screen(lg) {
            padding: 5px;
            scale: 1.5;
        }

        .arrow-path {
            stroke: #303337;
            transition: stroke 0.3s;

            &:hover {
                stroke: #fd7566;
            }
        }

        &:hover .arrow-path {
            stroke: #fd7566;
        }
    }

    &__dots {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 5px;
    }
}
