@use "../abstracts";

.footer {
    margin-top: 78px;
    padding: 40px 0 50px;
    background: #0d1012;

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 37px;
        text-align: center;

        @include abstracts.screen(lg) {
            margin: 0 30px 37px;
            flex-direction: row;
            justify-content: space-between;
        }

        &-logo {
            align-self: flex-end;
        }
    }

    &__cta-group {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include abstracts.screen(lg) {
            flex-direction: row;
            align-items: center;
            align-self: flex-start;
            gap: 30px;
        }
    }

    &__btn {
        align-self: center;
        margin-top: 27px;
        border-radius: 9px;

        @include abstracts.screen(lg) {
            margin-top: 0;
            align-self: initial;
        }
    }

    &__bottom {
        margin: 70px 30px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-navbar {
        &__list {
            @include abstracts.screen(lg) {
                margin-right: 40px;
                gap: 55px;
            }
        }

        &__link {
            display: flex;
            justify-content: space-between;

            @include abstracts.screen(lg) {
                color: #f9f9f9;

                font-size: 2.2rem;
                font-weight: 600;
                line-height: 1.45;
            }
        }
    }

    &__label {
        color: #f9f9f9;

        font-size: 2rem;
        font-weight: 600;
        line-height: 1.45;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #1d1f22;
        transition: background-color 0.3s;

        &:hover {
            background: #2d2f32;
        }
    }

    &__social-icon {
        height: 9px;
    }
}

.navbar {
    &__arrow {
        rotate: -90deg;
        transition: rotate 0.3s;
    }
}

.footer .sub-menu {
    margin-left: 10px;

    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: opacity, visibility, max-height;
    transition-duration: 0.9s;

    &__link {
        font-size: 1.2rem;
        white-space: nowrap;
    }

    @include abstracts.screen(lg) {
        margin-top: 22px;

        margin-left: 0;

        opacity: 1;
        visibility: visible;
        max-height: initial;

        &__link {
            color: #858b93;

            font-size: 1.8rem;
            font-weight: 400;
        }
    }
}

.menu-column__item--active .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: 9999px;
}

.menu-column__item--active .navbar__arrow {
    transform: rotate(90deg);
}

.sub-menu__item + .sub-menu__item {
    @include abstracts.screen(lg) {
        margin-top: 15px;
    }
}
