@use "../abstracts";

.header {
    &__container {
        @include abstracts.screen(xl) {
            margin-top: 22px;
            min-width: 1174px;
        }
    }
}

.mobile {
    &__time {
        color: #9fa2a8;
        font-family: Poppins;
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__top {
        margin: 18px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-toolbar {
        display: flex;
        align-self: center;
        justify-content: space-between;

        height: 36px;
        padding: 10px 18px;

        border-radius: 10px;
        background: #35393e;

        &__text {
            height: 12px;
        }

        &__center {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 31px 18px 0;

    @include abstracts.screen(md) {
        margin-top: 22px;
    }

    &__act {
        display: flex;
        align-items: center;
        gap: 44px;
    }
}

.navbar {
    position: fixed;
    inset: 0 40% 0 0;
    z-index: 9;

    padding: 20px 0;

    background: #2a2e39;

    translate: -100%;
    transition: translate 0.5s;

    @include abstracts.screen(lg) {
        position: initial;
        inset: initial;

        padding: 18px 0;

        translate: 0;
        background: transparent;
    }

    @include abstracts.screen(sm) {
        inset: 0 60% 0 0;
    }

    &__overlay {
        position: fixed;
        inset: 0;
        z-index: 8;

        background: rgba($color: #000000, $alpha: 0.4);

        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(md) {
            visibility: hidden;
            opacity: 0;
        }
    }

    &.show {
        translate: 0;
        box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);
    }

    &.show ~ &__overlay {
        opacity: 1;
        visibility: visible;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        @include abstracts.screen(md) {
            flex-direction: row;
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;

        height: 44px;
        padding: 20px;

        color: #d7d7d7;

        font-size: 1.6rem;
        font-style: normal;
        line-height: 1.5;

        transition: height 0.3s, color 0.7s;

        @include abstracts.screen(md) {
            height: 24px;
            padding: 0 20px;
        }

        &::after {
            position: absolute;
            bottom: -3px;

            content: "";

            width: 25%;
            height: 2px;
            background: #6aea5c;

            opacity: 0;
            visibility: hidden;

            transition: opacity, visibility;
            transition-duration: 0.5s;
        }

        &--active,
        &:hover {
            height: 19px;

            color: var(--active-color);

            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__list:hover &__link:not(:hover) {
        color: var(--text-color);
    }

    &__close-btn {
        padding: 0 20px;
    }
}
