@use "../abstracts";
.mobile {
    &__time {
        color: #9fa2a8;
        font-family: Poppins;
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__top {
        margin: 18px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-toolbar {
        display: flex;
        align-self: center;
        justify-content: space-between;

        height: 36px;
        padding: 10px 18px;

        border-radius: 10px;
        background: #35393e;

        &__text {
            height: 12px;
        }

        &__center {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 31px 18px 0;

    &__act {
        display: flex;
        align-items: center;
        gap: 44px;
    }
}

.navbar {
    position: fixed;
    inset: 0 30% 0 0;
    z-index: 9;

    padding: 20px 0;

    background: #2a2e39;

    translate: -100%;
    transition: translate 0.5s;

    &__overlay {
        position: fixed;
        inset: 0;
        z-index: 8;

        background: rgba($color: #000000, $alpha: 0.4);

        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(lg) {
            visibility: hidden;
            opacity: 0;
        }
    }

    &.show {
        translate: 0;
        box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);
    }

    &.show ~ &__overlay {
        opacity: 1;
        visibility: visible;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: flex;
        align-items: center;

        height: 44px;
        padding: 0 20px;

        font-size: 1.6rem;
        font-style: normal;
        line-height: 1.5;
    }

    &__close-btn {
        padding: 0 20px;
    }
}
