@use "../abstracts";

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 39px;
    padding: 12px 28px;
    border: 1px solid #36383e;
    border-radius: 8px;

    color: var(--button-color);

    font-size: 1.2rem;
    font-weight: 600;

    @include abstracts.screen(md) {
        font-size: 1.6rem;
        font-weight: normal;
    }

    &--primary {
        background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    }

    &--text {
        background: #282c30;
        box-shadow: 1px 8px 45px 0px rgba(0, 0, 0, 0.25);
    }

    &--small {
        height: 30px;
        border-radius: 6px;
    }

    &--signin {
        padding: 9px 18px;

        font-size: 1.2rem;

        background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include abstracts.screen(lg) {
            width: 110px;
            height: 40px;
            border-radius: 8px;

            font-size: 1.6rem;
        }
    }

    &--join {
        width: 100%;
        height: 17px;
        border-radius: 7px;
        background: #ef8f00;

        color: #fff;
        font-family: Sora;
        font-size: 0.8rem;
        font-weight: 600;
        white-space: nowrap;

        @include abstracts.screen(lg) {
            width: 129px;
            height: 37px;

            font-size: 1.2rem;
        }
    }
}

.hero-act__btn {
    width: 143px;
    padding: initial;

    @include abstracts.screen(md) {
        width: 199px;
        height: 54px;
    }
}
