@use "../abstracts";

.dashboard {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 20px;
    margin-top: 75px;

    &__item {
        border-radius: 19px;
        background: #191b1d;
    }
}

.dashboard-idea {
    position: relative;
    padding: 30px 20px;

    @include abstracts.screen(lg) {
        padding: 59px 30px 55px;
    }

    &::after {
        position: absolute;
        top: 15px;
        right: 18px;
        content: url("../../assets/icons/dots.svg");
        scale: 0.6;

        @include abstracts.screen(lg) {
            scale: 1;
            top: 46px;
            right: 51px;
        }
    }

    &__title {
        width: 70%;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.46;

        @include abstracts.screen(lg) {
            font-size: 2.2rem;
        }
    }

    &__list {
        margin-top: 13px;

        @include abstracts.screen(lg) {
            margin-top: 39px;
        }
    }

    &__item + &__item {
        margin-top: 14px;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;

        padding: 7px 9px;
        border-radius: 9px;
        border: 1px solid #282b2e;
        transition: border-color 0.3s, background 0.3s;

        @include abstracts.screen(lg) {
            padding: 14px 18px;
        }

        &:hover,
        &--checked {
            border-color: transparent;
            background: #313539;

            .dashboard-idea__heading {
                opacity: 1;
            }
        }

        &:hover {
            border-color: inherit;
        }
    }

    &__input {
        position: relative;
        appearance: none;
        width: 15px;
        height: 15px;
        margin-right: 9px;
        border-radius: 50%;
        background: #313539;
        cursor: pointer;

        @include abstracts.screen(lg) {
            margin-right: 19px;
            width: 20px;
            height: 20px;
        }

        &::after {
            position: absolute;
            top: -25%;
            right: -25%;
            content: url("../../assets/icons/dashboard-checkbox.svg");
            opacity: 0;
            scale: 0.75;
            transition: opacity 0.3s;

            @include abstracts.screen(lg) {
                top: 0;
                right: 0;
                scale: 1;
            }
        }

        &:checked::after {
            opacity: 1;
        }
    }

    &__heading {
        color: #fff;
        font-size: 0.6rem;
        line-height: normal;
        opacity: 0.67;
        transition: opacity 0.3s;

        @include abstracts.screen(lg) {
            font-size: 1.2rem;
        }
    }

    &__tag {
        margin-top: 3px;
        color: #91969e;
        font-size: 0.6rem;
        font-weight: 400;
        line-height: normal;

        @include abstracts.screen(lg) {
            font-size: 1rem;
        }
    }

    &__img-wrap {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__img {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 1px solid #cd6336;
        object-fit: cover;

        @include abstracts.screen(lg) {
            width: 33px;
            height: 33px;
        }
    }

    &__img + &__img {
        margin-left: -5px;
        @include abstracts.screen(lg) {
            margin-left: -10px;
        }
    }
}
