@use "../abstracts";

.dashboard {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 10px;
    margin-top: 75px;

    @include abstracts.screen(lg) {
        gap: 20px;
    }

    &__item {
        border-radius: 19px;
        background: #191b1d;

        &-daily-task01 {
            position: relative;
            padding: 14px 18px 18px 11px;

            @include abstracts.screen(lg) {
                padding: 28px 78px 39px 47px;
            }

            &::after {
                position: absolute;
                top: 5px;
                right: 10px;
                content: url("../../assets/icons/dots.svg");
                scale: 0.6;

                @include abstracts.screen(lg) {
                    scale: 1;
                    top: 20px;
                    right: 34px;
                }
            }
        }

        &-daily-task02 {
            position: relative;
            display: flex;
            align-items: center;

            margin-top: 10px;
            padding: 9px 18px 18px 12px;

            &::after {
                position: absolute;
                top: 5px;
                right: 10px;
                content: url("../../assets/icons/dots.svg");
                scale: 0.6;

                @include abstracts.screen(lg) {
                    scale: 1;
                    top: 20px;
                    right: 34px;
                }
            }

            @include abstracts.screen(md) {
                margin-top: 10px;
                padding: 3px 6px 6px 4px;
            }

            @include abstracts.screen(lg) {
                margin-top: 15px;
                padding: 33px 12px 50px 8px;
            }
        }
    }
}

.dashboard-idea {
    position: relative;
    padding: 10px 7px;

    @include abstracts.screen(md) {
        padding: 30px 20px;
    }

    @include abstracts.screen(lg) {
        padding: 35px 30px 45px;
    }

    &::after {
        position: absolute;
        top: 15px;
        right: 18px;
        content: url("../../assets/icons/dots.svg");
        scale: 0.6;

        @include abstracts.screen(lg) {
            scale: 1;
            top: 46px;
            right: 51px;
        }
    }

    &__title {
        margin-top: 4px;
        width: 70%;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.46;

        @include abstracts.screen(lg) {
            font-size: 2.2rem;
        }
    }

    &__list {
        margin-top: 13px;

        @include abstracts.screen(lg) {
            margin-top: 39px;
        }
    }

    &__item + &__item {
        margin-top: 14px;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;

        padding: 7px 9px;
        border-radius: 9px;
        border: 1px solid #282b2e;
        transition: border-color 0.3s, background 0.3s;

        @include abstracts.screen(lg) {
            padding: 14px 18px;
        }

        &:hover,
        &--checked {
            border-color: transparent;
            background: #313539;

            .dashboard-idea__heading {
                opacity: 1;
            }
        }

        &:hover {
            border-color: inherit;
        }
    }

    &__input {
        position: relative;
        appearance: none;
        width: 15px;
        height: 15px;
        margin-right: 9px;
        border-radius: 50%;
        background: #313539;
        cursor: pointer;

        @include abstracts.screen(lg) {
            margin-right: 19px;
            width: 20px;
            height: 20px;
        }

        &::after {
            position: absolute;
            top: -25%;
            right: -25%;
            content: url("../../assets/icons/dashboard-checkbox.svg");
            opacity: 0;
            scale: 0.75;
            transition: opacity 0.3s;

            @include abstracts.screen(lg) {
                top: 0;
                right: 0;
                scale: 1;
            }
        }

        &:checked::after {
            opacity: 1;
        }
    }

    &__heading {
        color: #fff;
        font-size: 0.6rem;
        line-height: normal;
        opacity: 0.67;
        transition: opacity 0.3s;

        @include abstracts.screen(lg) {
            font-size: 1.2rem;
        }
    }

    &__tag {
        margin-top: 3px;
        color: #91969e;
        font-size: 0.6rem;
        font-weight: 400;
        line-height: normal;

        @include abstracts.screen(lg) {
            font-size: 1rem;
        }
    }

    &__img-wrap {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__img {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 1px solid #cd6336;
        object-fit: cover;

        @include abstracts.screen(lg) {
            width: 33px;
            height: 33px;
        }
    }

    &__img + &__img {
        margin-left: -5px;
        @include abstracts.screen(lg) {
            margin-left: -10px;
        }
    }
}

.dashboard-daily-task {
    &__top {
        display: flex;
        align-items: flex-start;
    }

    &-01-content {
        flex-shrink: 0;
    }

    &__input-border {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        margin-right: 9px;
        border-radius: 6px;
        background: #6aea5c;
        flex-shrink: 0;

        @include abstracts.screen(lg) {
            width: 40px;
            height: 40px;
            margin-right: 17px;
        }
    }

    &__input {
        appearance: none;
        position: relative;
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #23d12a;

        @include abstracts.screen(lg) {
            width: 20px;
            height: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: 2px;
            width: 6px;
            height: 4px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(-45deg);
            opacity: 0;
            transition: opacity 0.3s;

            @include abstracts.screen(lg) {
                top: 5px;
                left: 5px;
                width: 10px;
                height: 6px;
                border-left-width: 3px;
                border-right-width: 3px;
            }
        }

        &:checked::after {
            opacity: 1;
        }
    }

    &__title {
        color: #fff;
        font-size: 0.8rem;
        font-weight: 600;
        line-height: normal;

        @include abstracts.screen(lg) {
            font-size: 2.2rem;
        }
    }

    &__desc {
        margin-top: 4px;
        color: #424b55;
        font-size: 0.8rem;
        font-weight: 400;

        @include abstracts.screen(lg) {
            margin-top: 12px;
            font-size: 1.6rem;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 22px;
    }

    &__progress {
        display: flex;
        align-items: center;
        width: 70%;
        height: 9px;
        background: #272633;
        border-radius: 8px;
        overflow: hidden;

        @include abstracts.screen(lg) {
            height: 17px;
        }

        &-bar {
            height: 100%;
            width: 33.3%;
            border-radius: 8px;
            background: #ff7667;
        }

        &-text {
            font-size: 1.2rem;
            @include abstracts.screen(lg) {
                font-size: 1.8rem;
            }
        }
    }

    &__left {
        width: 50%;
        flex-shrink: 0;
    }

    &__right {
        @include abstracts.screen(lg) {
            margin-top: 42px;
        }

        &-title {
            text-align: center;
            translate: -15%;
        }
    }

    &__symbol {
        width: 100%;
    }

    &__chart {
        width: 100%;
    }

    &__status-wrap {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        width: 90%;
        margin-top: 10px;

        @include abstracts.screen(lg) {
            margin-top: 40px;
        }

        &::after {
            position: absolute;
            top: 30%;
            left: 50%;
            translate: -50%;

            content: "";
            width: 20px;
            height: 3px;
            background: #0cce84;
            border-radius: 100px;
            opacity: 0;

            @include abstracts.screen(md) {
                opacity: 1;
            }

            @include abstracts.screen(lg) {
                width: 30px;
                height: 4px;
            }
        }
    }

    &__status-name {
        color: #d0d1d2;
        font-size: 0.8rem;
        line-height: 1.57;

        @include abstracts.screen(lg) {
            font-size: 1.4rem;
        }
    }

    &__user {
        margin-top: 5px;
        font-size: 0.8rem;

        @include abstracts.screen(lg) {
            font-size: 1.4rem;
        }

        &--online {
            color: #0cce84;
        }
        &--offline {
            color: #ff7667;
        }
    }
}

.dashboard-team {
    padding: 25px 33px 29px;

    &__title {
        color: #fff;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: normal;

        &--dot {
            display: inline-block;
            width: 3.706px;
            height: 3.706px;
            background: #ff7667;
            border-radius: 50%;
        }
    }

    &__list {
        margin-top: 21px;
    }

    &__item + &__item {
        border-top: 1px solid #25282b;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 9px;
        padding: 15px 0 10px;
    }

    &__avatar-wrap {
        position: relative;
        width: 34px;
        height: 34px;

        &::after {
            position: absolute;
            right: -1px;
            bottom: 6px;
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #23d12a;
            border: 1px solid #6aea5c;
        }
    }

    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
    }

    &__name {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: normal;
    }

    &__btn {
        margin-top: 30px;
    }
}
